.menu {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.menu td {
	width: 25%;
}

p, blockquote {
	font-size: 16px;
	text-align: justify;
	font-style: normal;
}

h1, h2, h3 {
	font-weight: bold;
}

.post-header {
	text-align: center;
	margin: 20px 0;
}

.post-title {
	margin: 20px 0;
	padding: 15px;
	border: 5px solid #363b4e;
}

.post-content h1 {
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	background-color: #363b4e;
	margin: 20px 0;
	padding: 10px;
}

.post-content h2 {
	position: relative;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0 0 5px 20px;
	margin: 15px 0;
	border-bottom: #858daa solid 2px;
}

.post-content h2:before {
	position: absolute;
	left: 0;
	bottom: 0;
	content : '';
	width: 10px;
	height: 100%;
	background: linear-gradient(to bottom,#363b4e,#858daa);
}

.post-content p {
	font-size: 1rem;
	padding: 0;
	margin: 0 0 10px;
}

.img-full {
	width: 100%;
	height: 100%;
}

img {
	width:32px;
	height:32px;
}

h1 img, h2 img {
	width:64px;
	height:64px;
}

h3 img {
	width:48px;
	height:48px;

}
table {
	max-width: 100%;
	margin: 0;
}

table img {
	width:32px;
	height:32px;
}

.repalg {
	display: block;
	margin: auto;
	width: auto;
	height: auto;
}

.layout {
	border: 2px solid black;
	width: auto;
	height: auto;
}

.data-structure {
	text-align: center;
}

.data-structure thead {
	font-size: 1.4rem;
}

.data-structure tbody tr:first-child {
	font-size: 0.7rem;
	font-weight: bold;
}

.stage {
	width: 64px;
	height: 64px;
}

.table-wrapper {
  overflow-x: scroll;
  padding: 0;
  margin: 15px 0;
}

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
	margin: auto;
    border: 1px solid #aaa;
    padding-left: 2em;
    list-style: decimal;
    display: block;
}

.wrapper {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}