.menu {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.menu td {
	width: 25%;
}

h1, h2, h3 {
	font-size: 1.6rem;
	font-weight: bold;
}

.post-header {
	text-align: center;
	margin: 20px 0;
}

.post-title {
	margin: 20px 0;
	padding: 15px;
	border: 4px solid #363b4e;
}

.post-content h2 {
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	background-color: #363b4e;
	margin: 20px 0;
	padding: 10px;
}

.post-content h3 {
	position: relative;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0 0 5px 20px;
	margin: 15px 0;
	border-bottom: #858daa solid 2px;
}

.post-content h3:before {
	position: absolute;
	left: 0;
	bottom: 0;
	content : '';
	width: 10px;
	height: 100%;
	background: linear-gradient(to bottom,#363b4e,#858daa);
}

.button-link {
	margin: 0 auto 2em auto;
}

.post-content p {
	padding: 0;
	margin: 10px 0;
	font-size: 1em;
	text-align: justify;
	font-style: normal;
}

.button-link a {
	position: relative;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: gray;
	padding: 0em 0;
	border: 2px solid gray;
	border-radius: 50px;
	cursor: pointer;
}

.button-link a:hover {
	color: white;
	background-color: gray;
}

.button-link a:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	content: "";
	margin: auto;
	width: 8px;
	height: 8px;
	border: 2px solid gray;
	border-top-style: none;
	border-left-style: none;
	transform: translate(0,0) rotate(-45deg);
}

.button-link a:hover:after {
	border-color: white;
}

.img-full {
	width: 100%;
	height: 100%;
}

img {
	width:32px;
	height:32px;
}

table {
	max-width: 100%;
	margin: 0;
}

table img {
	width:32px;
	height:32px;
}

.layout {
	border: 2px solid black;
	width: auto;
	height: auto;
}

.data-structure {
	text-align: center;
}

.data-structure thead {
	font-size: 1.4rem;
}

.data-structure tbody tr:first-child {
	font-size: 0.7rem;
	font-weight: bold;
}

.stage {
	width: 64px;
	height: 64px;
}

.table-wrapper {
  overflow-x: scroll;
  padding: 0;
  margin: 15px 0;
}

// Add Contents to TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
    line-height: 2em;
}

#markdown-toc {
	margin: auto;
    border: 1px solid #858daa;
    border-radius: 10px;
    padding: 0.5em 1em;
    list-style: none;
    display: block;
}

#markdown-toc ul {
	list-style: none;
	margin-left: 1em;
}

#markdown-toc li::before {
	content: '→';
	margin-right: 0.5em;
	font-weight: bold;
}

#markdown-toc li {
	padding: 2px;
	border-top: 1px dotted #e2e2e2;
}

.wrapper {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}