img {
	width:32px;
	height:32px;
}

h1,h2 img {
	width:64px;
	height:64px;
}

h3 img {
	width:48px;
	height:48px;
}

p {
	text-align: center;
}

table {
	/*table-layout:fixed;*/
}


th, td {
	font-size: 0.7em;
}

table img {
	width:32px;
	height:32px;
}

/* base colors */

table tr:nth-child(2) td:nth-child(4),
table tr:nth-child(2) td:nth-child(7),
table tr:nth-child(2) td:nth-child(8),
table tr:nth-child(2) td:nth-child(9),
table tr:nth-child(3) td:nth-child(10),
table tr:nth-child(2) td:nth-child(11),
table tr:nth-child(2) td:nth-child(12),
table tr:nth-child(2) td:nth-child(13) {
	background-color: lightgray;
}

table tr:nth-child(7) td:nth-child(4),
table tr:nth-child(7) td:nth-child(7),
table tr:nth-child(7) td:nth-child(8),
table tr:nth-child(8) td:nth-child(9),
table tr:nth-child(7) td:nth-child(10),
table tr:nth-child(7) td:nth-child(11),
table tr:nth-child(7) td:nth-child(13) {
	background-color: #ffffba;
}

table tr:nth-child(7) td:nth-child(12) {
	background-color: #ffb380;
}


table tr:nth-child(19) td:nth-child(5),
table tr:nth-child(20) td:nth-child(7),
table tr:nth-child(19) td:nth-child(8),
table tr:nth-child(19) td:nth-child(9),
table tr:nth-child(20) td:nth-child(10),
table tr:nth-child(20) td:nth-child(11),
table tr:nth-child(19) td:nth-child(12),
table tr:nth-child(19) td:nth-child(13) {
	background-color: #ff8080;
}

/* evolved colors */

/* orange */
table tr:nth-child(26) td:nth-child(5),
table tr:nth-child(16) td:nth-child(7),
table tr:nth-child(26) td:nth-child(8),
table tr:nth-child(23) td:nth-child(9),
table tr:nth-child(26) td:nth-child(10),
table tr:nth-child(16) td:nth-child(11) {
	background-color: #ffb380;
}

/* pink */
table tr:nth-child(21) td:nth-child(6),
table tr:nth-child(11) td:nth-child(7),
table tr:nth-child(15) td:nth-child(9),
table tr:nth-child(24) td:nth-child(10),
table tr:nth-child(11) td:nth-child(11),
table tr:nth-child(26) td:nth-child(12),
table tr:nth-child(15) td:nth-child(13) {
	background-color: #ffc8f2;
}

/* blue */
table tr:nth-child(12) td:nth-child(8),
table tr:nth-child(22) td:nth-child(11),
table tr:nth-child(12) td:nth-child(12) {
	background-color: #bae1ff;
}

/* black */
table tr:nth-child(22) td:nth-child(7),
table tr:nth-child(22) td:nth-child(10) {
	background-color: darkgray;
}

/* purple */
table tr:nth-child(23) td:nth-child(13) {
	background-color: #efa9fe;
}