---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

img {
	width:32px;
	height:32px;
}

h1 img, h2 img {
	width:64px;
	height:64px;
}

h3 img {
	width:48px;
	height:48px;

}
table {
	/*max-width: 100%;*/
	/*table-layout:fixed;*/
}


th, td {
	/*font-size: 0.7em;*/
}

table img {
	width:32px;
	height:32px;
}

.repalg {
	width: auto;
	height: auto;
}

.layout  {
	border: 2px solid black;
	width: auto;
	height: auto;
}

.table-wrapper {
  overflow-x: scroll;
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
	margin: auto;
    border: 1px solid #aaa;
    padding-left: 2em;
    list-style: decimal;
    display: block;
}

table {
	display: inline-block;
	overflow-x: auto;
}


table td {
	width: 10%;
	min-width: 10%;
	max-width: 10%;
}

.menu {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

.wrapper {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}