---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.menu {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

p, blockquote {
	font-size: 16px;
	text-align: justify;
	font-style: normal;
}

h1, h2, h3 {
	font-weight: bold;
	text-align: center;
}

.post-content h1, .post-content h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

img {
	width:32px;
	height:32px;
}

h1 img, h2 img {
	width:64px;
	height:64px;
}

h3 img {
	width:48px;
	height:48px;

}
table {
	max-width: 100%;
	/*
	table-layout:fixed;
	*/
	margin-bottom: 15px;

}
th, td {
	/*font-size: 0.7em;*/
}

table img {
	width:32px;
	height:32px;
}

.repalg {
	display: block;
	margin: auto;
	width: auto;
	height: auto;
}

.layout  {
	border: 2px solid black;
	width: auto;
	height: auto;
}

.stage {
	width: 64px;
	height: 64px;
}

.table-wrapper {
  overflow-x: scroll;
}

#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
	margin: auto;
    border: 1px solid #aaa;
    padding-left: 2em;
    list-style: decimal;
    display: block;
}

.wrapper {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}